/* Estilização do container principal */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda a altura da tela */
    background-color: #f0f4f8; /* Cor de fundo suave */
    font-family: Arial, sans-serif;
  }
  
  /* Estilização do título */
  .login-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  /* Estilo do formulário */
  form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para o formulário */
    width: 100%;
    max-width: 400px; /* Limite de largura */
  }
  
  /* Estilo dos campos de entrada */
  form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Foco nos campos de entrada */
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Estilo do botão */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  