/* SettingsPage.css */

.settings-page {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Estilo da seção de idioma */
.language-section {
    margin-bottom: 30px;
}

.language-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.language-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
}

.language-buttons button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.language-buttons button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.language-buttons button:focus {
    outline: 2px solid #007bff;
}

/* Estilo do seletor de cor */
.color-picker-section {
    margin-top: 20px;
}

.color-picker {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid transparent;
    transition: border-color 0.3s, transform 0.2s;
}

.color-circle:hover {
    border-color: #000;
    transform: scale(1.1);
}

.color-circle.selected {
    border-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
